<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['/main/overview']">main</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a [routerLink]="['/main/match/arrange']">arrange</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    {{id}}
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="content">
  <nz-collapse>
    <nz-collapse-panel *ngFor="let item of arrange" [nzHeader]="item.team">
      <div *ngIf="item.detail">
        <nz-collapse>
          <nz-collapse-panel
            *ngFor="let childPanel of item.detail"
            [nzHeader]="childPanel.type"
          >
            <p>
              <span class="bold">{{childPanel.team1}}</span> 
              对阵 
              <span class="bold">{{childPanel.team2}}</span>
            </p>
            <p>场地：{{childPanel.address}}</p>
            <p>裁判：{{childPanel.refereeName}}</p>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
</div>