nz-breadcrumb {
  margin: 16px 0;
}

.content {
  background-color: #fff;
  padding: 20px;
  position: relative;
}

.operate {
  margin: 0 5px;
  cursor: pointer;
  color: #81b5ef;
}

.bold {
  font-weight: bold;;
}