.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: url("/assets/images/logo.jpg") no-repeat;
  background-size: 100% 32px;
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-footer {
  text-align: center;
}

.content {
  height: 100vh;
}

nz-breadcrumb {
  margin: 16px 0;
}