<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['/main/overview']">main</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    notice
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="content">
  <button nz-button nzType="primary" class="new" (click)="newNotice()">发布通知</button>
  <form class="mb-20" nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label>通知名称</nz-form-label>
      <nz-form-control nzErrorTip="Please input your username!">
        <input formControlName="title" nz-input placeholder="请输入通知名称" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>发布时间</nz-form-label>
      <nz-form-control>
        <nz-range-picker nzShowTime formControlName="rangePickerTime"></nz-range-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">搜索</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <nz-table 
    [nzData] = "noticeData" 
    [(nzPageSize)]="pageSize" 
    [(nzPageIndex)]="pageIndex" 
    [nzShowPagination]="true" 
    [nzTotal]="total"
    [nzShowSizeChanger]="true"
    [nzShowQuickJumper]="true"
    [nzFrontPagination]="false"
    (nzPageIndexChange)="pageIndexChange()"
    (nzPageSizeChange)="pageSizeChange()"
    #noticeTable
  >
    <thead>
      <tr>
        <th>标题</th>
        <th>内容</th>
        <th>发布时间</th>
        <th>发布者</th>
        <th>是否置顶</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of noticeTable.data">
        <td>{{data.title}}</td>
        <td>{{data.content}}</td>
        <td>{{data.time | date:"yyyy/MM/dd hh:mm:ss"}}</td>
        <td>{{data.promulgator}}</td>
        <td>{{data.top === 0 ? '否' : '是'}}</td>
        <td>
          <span class="operate" (click)="edit(data.title, data.content, data.top)">编辑</span>
          <span class="operate">删除</span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>