<div class="content">
  <div class="user grow1">
    <nz-avatar [nzShape]="'square'" [nzSize]="'large'" [nzIcon]="'user'"></nz-avatar>
    <div class="message">
      <div>{{name}}</div>
      <div>{{introduce}}</div>
    </div>
  </div>
  
  <div class="grow1">
    <span>学号: {{schoolNumber}}</span>
    <span class="ml-10">级别: {{level}}</span>
    <span class="ml-10">裁判认证: {{referee ? '是' : '否'}}</span>
  </div>

  <div class="grow2">
    <div>个人信息完整度</div>
    <nz-progress [nzPercent]="30" [nzFormat]=""></nz-progress>
  </div>

  <div class="operate grow1">
    <span class="edit" [routerLink]="['/main/people/list', uid]">查看</span>
    <a nz-dropdown [nzDropdownMenu]="menu">
      更多
      <i nz-icon nzType="down"></i>
    </a>
  </div>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item>禁止登陆</li>
    <li nz-menu-item>禁止参赛</li>
    <li nz-menu-item>授权为管理员</li>
    <li nz-menu-item>修改密码</li>
  </ul>
</nz-dropdown-menu>