.header {
  background-color: #fff;
  display: flex;
  padding: 20px;
  div {
    text-align: center;
    flex-grow: 1;
  }
  div:not(:last-child) {
    border-right-color: #efefef;
    border-right-width: 1px;
    border-right-style: solid;
  }
}

.list {
  background-color: #fff;
  margin-top: 15px;
  padding: 20px 40px;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.content {
  margin-top: 30px;
  overflow: hidden;
}

.pagination {
  float: right;

  margin-top: 20px;
}
