<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['/main/overview']">main</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a [routerLink]="['/main/match/arrange']">arrange</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    {{id}}
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="content">
  <nz-table 
    [nzData] = "arrange" 
    [nzFrontPagination]="false"
    #arrangeTable
  >
    <thead>
      <tr>
        <th>序号</th>
        <th>参赛者1</th>
        <th>参赛者2</th>
        <th>比赛场地</th>
        <th>比赛结果</th>
        <th>负责裁判</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of arrangeTable.data; let i = index">
        <td>{{data.id}}</td>
        <td>{{data.team1}}</td>
        <td>{{data.team2}}</td>
        <td>{{data.address}}</td>
        <td>{{data.grade ? data.grade : '暂无结果'}}</td>
        <td>{{data.refereeName}}</td>
        <td>
          <span class="operate" (click)="address()">修改比赛场地</span>
          <nz-divider nzType="vertical"></nz-divider>
          <span class="operate" (click)="result()">修改比赛结果</span>
          <nz-divider nzType="vertical"></nz-divider>
          <span class="operate" (click)="opponent()">修改对手</span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>