<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['/main/overview']">main</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    list
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="content">
  <button nz-button nzType="primary" class="new" (click)="prize()">奖励</button>
  <form class="mb-20" nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label>轮次</nz-form-label>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-select
          [nzDropdownMatchSelectWidth]="false"
          name="select-validate" 
          formControlName="status"
          (ngModelChange)="change($event)"
        >
          <nz-option *ngFor="let item of round" [nzValue]="item.type" [nzLabel]="item.text"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
  
  <nz-table
      #rowSelectionTable
      [nzData]="listOfAllData"
      [nzShowPagination]="false"
    >
      <thead>
        <tr>
          <th
          ></th>
          <th>队伍名称</th>
          <th>真实名称</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]"></td>
          <td>{{ data.teamName }}</td>
          <td>{{ data.realName }}</td>
        </tr>
      </tbody>
    </nz-table>
    
</div>