<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['/main/overview']">main</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    list
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="content">
  <nz-table 
    [nzData] = "matchData" 
    [nzFrontPagination]="false"
  >
    <thead>
      <tr>
        <th>赛事名称</th>
        <th>简介</th>
        <th>参与人数</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of matchData">
        <td [routerLink] = "['/main/match/list', data.id]" class="link">{{data.name}}</td>
        <td>{{data.introduce}}</td>
        <td>{{data.player}}</td>
        <td>
          <span class="operate" (click)="open(data.id)">选取名次</span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>