<div *ngIf="matchInfo">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a [routerLink]="['/main/overview']">main</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="['/main/match/list']">list</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      detail
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  
  <div class="introduce">
    <div class="block">
      <div>
        <span class="title">当前赛事</span>
      </div>
      <div>
        <span class="name">{{matchInfo.name}}</span>
      </div>
      <div style="margin-top: 10px;">
        <i nz-icon [nzType]="'man'"></i>：12人
        <i nz-icon [nzType]="'woman'" class="ml-15"></i>：12人
      </div>
      <div class="footer">
        <hr>
        <span>参赛总人数：{{matchInfo.actualPlayer}}人</span>
      </div>
    </div>
  
    <div class="block">
      <div>
        <span class="title">当前赛事浏览量</span>
      </div>
      <div class="click">{{matchInfo.hintCount}}</div>
      <div class="footer">
        <hr>
        <span>热度排序：3</span>
      </div>
    </div>
  
    <div class="block">
      <div>
        <span class="title">赛事限制</span>
      </div>
      <div style="margin-top: 10px;"><span class="name">{{limit(matchInfo.limit)}}</span></div>
      <div class="footer">
        <hr>
        <span>限制分组：{{limitGroup()}}</span>
      </div>
    </div>
  
    <div class="block">
      <div><span>裁判招募</span></div>
      <div style="font-weight: bold;margin-top: 10px;">
        <span>{{matchInfo.actualReferee}}/{{matchInfo.referee}}</span>
        <nz-progress [nzPercent]="matchInfo.actualReferee/matchInfo.referee*100" [nzFormat]="percentFormat"></nz-progress>
      </div>
      <div class="footer">
        <hr>
        <span>暂缺：{{matchInfo.referee - matchInfo.actualReferee}}人</span>
      </div>
    </div>
  </div>
  <div class="rule">
    <h3>赛事信息</h3>
    <hr>
    <div class="ruleDetail">
      <div class="show">
        <h5>赛事名称</h5>
        <span>{{matchInfo.name}}</span>
        <h5>赛事介绍</h5>
        <span>{{matchInfo.introduce}}</span>
        <h5>赛事奖励</h5>
        <span>{{matchInfo.prize}}</span>
      </div>
      <div class="show">
        <h5>开始时间</h5>
        <span>{{matchInfo.begTime | date:"yyyy/MM/dd hh:mm:ss"}}</span>
        <h5>结束时间</h5>
        <span>{{matchInfo.endTime | date:"yyyy/MM/dd hh:mm:ss"}}</span>
      </div>
    </div>
  </div>
  <div class="people">
    <h2>参赛人员等级比例</h2>
    <hr>
    <div echarts [options]="peopleOption"></div>
  </div>
</div>